@import '../../styles.css';

.box{
  background-color: var(--mainColor);
  padding: 0 1rem;
  margin: 0.4rem 0;
  border-radius: 5px;
  color: white;
  box-shadow: 0px 3px 8px #b9b9b9;
}

.title{

}

.subTitle{
  margin-top: -0.8rem;

}